header {
    background-image: url("../images/stormy-sky.jpg");
    background-position: center 80%;
    background-size: cover;
    background-repeat: no-repeat;
}

/* #inputForm {
    width: 100%
} */

#cityInput {
    width: 200px;
}

#countries {
    width: 200px;
}

#states {
    width: 200px;
}